
/* FOUNDATION */
/* ————————————————————————— */

	/* Global */ 
	@import 'settings';
	@import 'foundation';

	/* Foundation module */ 
	@include foundation-global-styles;
	@include foundation-flex-grid;
	@include foundation-forms;



/* VAR */
/* ————————————————————————— */

	$theme-color: red;
	$border-radius:4px;

/* IMPORTS */
/* ————————————————————————— */
	
	@import 'icons';
	@import 'breadcrumb';
	@import 'buttons';
	@import 'footer';
	@import 'search';



/* GLOBAL */
/* ————————————————————————— */

	html, body {
		width:100%;
	}

	#main {
		
		transition: opacity 200ms linear;

		&.hide {
			opacity:0;
		}
	}






