
/* FOUNDATION */
/* ————————————————————————— */

	/* GLOBAL */ 
	@import 'settings';
	@import 'foundation';

	/* FOUNDATION MODULE */ 
	@include foundation-global-styles;
	@include foundation-flex-grid;
	@include foundation-forms;

/* ICONS */
/* ————————————————————————— */
	
	@import 'icons';


/* VAR */
/* ————————————————————————— */

	$theme-color: red;
	$border-radius:4px;



/* GLOBAL */
/* ————————————————————————— */

	html, body {
		width:100%;
	}

	#main {
		
		transition: opacity 200ms linear;

		&.hide {
			opacity:0;
		}
	}


/* BREADCRUMB */
/* ————————————————————————— */

.breadcrumb {
	
	margin:0;
	padding:rem-calc(20 0);
	list-style-type:none;
	font-size:rem-calc(12);
	border-top:1px solid rgba(#000, 0.1);
	border-bottom:1px solid rgba(#000, 0.1);
	
	& li {
		display:inline-block;
		padding:rem-calc(0 15);
		border-left:1px solid #CCC;
	}

	& li:first-child {
		border:0;
		padding:rem-calc(0 15 0 0);
	}
	
	/* CURRENT */
	& li.current {
		color:$theme-color;
	}

	/* LINK */
	& li a {
		color:#000;
		text-decoration:none;
		border-bottom:1px solid rgba(#000, 0.3);
	}
}

/* BUTTONS */
/* ————————————————————————— */

	.btn {
		
		display:inline-block;
		padding:rem-calc(10 20);
		margin:rem-calc(0 10 10 0);
		text-decoration:none;
		border-radius:$border-radius;

		&.btn--solid {
			background-color: $theme-color;
			color:#FFF;
		}

		&.btn--wire {
			border:1px solid $theme-color;
			color:$theme-color;
		}

		& span {
	    	display: inline-block;
			vertical-align:middle;
	  		line-height: 1;
		}

		& span.icon {
			padding-top: 0.2rem;
			font-size:1.2rem;
		}

		& span.text {
			padding-left: 1rem;
		}
		

	}


/* FORMS */
/* ————————————————————————— */

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	border-radius:$border-radius;
	padding:rem-calc(20 10);
	color:#000;
}

button:focus {outline:0;}

/* RECHERCHE */
/* ————————————————————————— */

.search-form {
	position:relative;


	& .search-field {
		padding:rem-calc(22 40 22 15);
	}

	& .search-submit {
		position:absolute;
		right:0;
		top:0;
		color:#000;
		padding:rem-calc(10 15);
		font-size:1.4em;
		background-color: transparent;
		height:100%;
		border:0;
	}

}

/* FOOTER */
/* ————————————————————————— */

	footer {
		margin-top:100px;
		border-top:1px solid rgba( $theme-color, 0.1);
		padding-top:80px;
		padding-bottom:50px;
	}
